/*********************************
     IMPORT DEFAULT PACKAGE
**********************************/
@import "./../../packages/default.css"; 


/*********************************
       IMPORT ANIMATION
**********************************/
@import "./animation.css";


/*********************************
       DEFAULT SETTING
**********************************/
em{
    font-style:normal;
    color:var(--primary);
}

p{
    font-weight:300;
}

.title, .sub_title{
    font-weight:400;
}

.title_header{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

.title_header .title{
    color:var(--white);
}

.logo{
    white-space:nowrap;
    color:var(--primary);
    font-size:2em;
    font-family:var(--title_font);
    border:1px solid var(--primary);
    display:flex;
    align-items:center;
}

.logo mark{
    background-color:var(--primary);
    color:var(--dark);
    padding:0px 15px;
}

.logo span{
    padding:0 5px;
}

@media (max-width:720px){
    .logo{
        font-size:18px;
    }
    
    .logo mark{
        padding:0px 10px;
    }
}


/*********************************
                NAV
**********************************/
nav{
    width:100%;
    background-color:var(--dark);
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:var(--primary_lite);
    border-bottom:1px solid rgba(214, 184, 96, 0.2);
    padding-left:2rem;
}

nav a{
    color:inherit;
    white-space:nowrap;
}

nav .links{
    display:flex;
    align-items:center;
}

nav .links a{
    display:inline-block;
    padding:1.5rem 2.5rem;
}

nav .links .active{
    background-color:var(--primary_lite) !important;
    color:var(--dark);
}

nav .links li:not(:last-child) a{
    border-right:1px solid rgba(214, 184, 96, 0.2);
}

nav .links .active{
    border-right:0 !important;
}

nav .links li:not(:last-child) a:hover{
    background-color:var(--black);
}

nav .links a iconify-icon{
    display:none;
}

@media (max-width:720px){
    nav{
        
        padding:1rem 0;
        padding-left:1rem;
    }
    
    nav .links{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        z-index:99;
        background-color:var(--dark);
        justify-content:space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    nav .links li{
        width:100%;
        text-align:center;
    }
    
    nav .links a{
        width:100%;
        padding:0.6rem 1rem;
        padding-top:1rem;
    }
    
    nav .links a iconify-icon{
        display:inline-block;
        font-size:24px;
    }
    
    nav .links a span{
        display:none;
    }
    
    nav .links .btn{
        background-color:var(--dark);
        color:inherit;
    }
}


/*********************************
            FOOTER
**********************************/
footer{
    width:100%;
    background-color:var(--dark);
    color:var(--white);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction:column;
    gap:1rem;
}

footer a{
    color:inherit;
}

footer .social_icons{
    display:flex;
    align-items:center;
    gap:1.5rem;
}

footer .social_icons a{
    font-size:2em;
    color:var(--primary);
    opacity:0.6;
}

footer .social_icons a:hover{
    opacity:1;
}

footer .links{
    display:flex;
    align-items:center;
    gap:2.5rem;
}

footer .links a{
    opacity:0.6;
}

footer .links a:hover{
    opacity:1;
}

.sub_footer{
    font-size:13px;
    opacity:0.6;  
    padding:1rem 0; 
}

@media (max-width:720px){
    footer .social_icons{
        gap:1rem;
    }
    
    footer .social_icons a{
        font-size:24px;
    }
    
    footer .links{
        flex-wrap:wrap;
        flex-direction:row;
        row-gap:1rem;
        justify-content:center;
        text-align:center;
    }
    
    .sub_footer{
        display:block;
        padding-bottom:100px;
    }
}


/*********************************
            ADDITIONAL
**********************************/

/*FLOATING ICON*/
.floating_icon{
    position:fixed;
    bottom:2rem;
    right:2rem;
    z-index:9 !important;
    float:right;
    background-color:var(--primary);
    color:var(--dark);
    border-radius:50%;
    padding:10px;
    mix-blend-mode: difference;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.floating_icon a{
    color:inherit;
}

@media (max-width:720px){
    .floating_icon{
        bottom:4rem;
        right:1rem;
    }
}

/*MODAL*/
